*{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
     font-family: "Helvetica", sans-serif;
     font-weight: 700;
     font-style: normal;
     
   }
   
   a:hover {
     color:rgb(90, 90, 90); /* Cor do link ao passar o mouse */
   }
   
   body{
    
     background-color: rgb(216, 216, 216);
     height: 100vh;
   }

    .logo img{
    width: 320px;
    height: 190px;
    margin-bottom: -10px;
    margin-right: -90px;
    margin-top: -10px;

    }

   
   h1{
    padding:0 40px;
    font-size: 40px;
    list-style: none;
    text-align: center;
    color:rgb(90, 90, 90);
    margin-right: -90px;
    margin-top: 20px;
   }
    h2{
  display: none;
    
   }
  
    header > .interface{
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   header a{
     color:rgb(0, 0, 0);
     text-decoration: none;
   }
   
   header nav ul{
     list-style: none;
   }
   
   header nav ul li{
     display: inline;
     font-size: 10px;
     color:rgb(56, 56, 56);
   
    }

   
   .Polímero li{
    display: inline-block;
    padding: 0 20px;
    font-size: 18px;
    list-style: none;
    text-align: center;
    margin-top: 95px;
    margin-left: 150px;
    margin-right: -50px;


   
   }
   
   .Polímero img{
     width: 430px;
     height: 320px;
     margin: -80px;
     margin-bottom: -85px;
     
    
   
    }
   
    footer{
     padding:0 40px;
     font-size: 18px;
     list-style: none;
     text-align: center;
     color:rgb(90, 90, 90);
    }
   
     .chamativo-btn {
      display: inline-block;
      padding: 15px 30px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      border: 2px solid #ffffff; /* Cor da borda do botão */
      border-radius: 5px;
      background-color: #2767f0; /* Cor de fundo do botão */
      color: #ffffff; /* Cor do texto do botão */
      position: relative;
      overflow: hidden;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
      
     bottom: -30px;
      right: -10px;
    
    }
    
    .chamativo-btn:hover {
      background-color: rgb(0, 0, 0); /* Cor de fundo do botão ao passar o mouse */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Efeito de luz ao redor do botão */
    }
       
   
     @media screen and (max-width: 1020px){
      
      
      h1{
        padding:0 40px;
        font-size: 30px;
        list-style: none;
        text-align: center;
        color:rgb(90, 90, 90);
        margin-right: -90px;
        margin-top: -120px;
       }
      
        
        .interface img{
         width: 250px;
         height: 130px;
         margin-top: -7px;
         margin-left: 110px;
       margin-bottom: 10%;
      
        }
   
   
      .slider-content{
       width: 0%;
       height: auto;
       display: flex;
     
     }
   
     .Polímero li{
      display: inline-block;
      padding: 0 20px;
      font-size: 18px;
      list-style: none;
      text-align: center;
      margin: 54px;
      margin-top: -12px;
  
     
     }
   
      footer{
       padding:0 40px;
       font-size: 14px;
       list-style: none;
       text-align: center;
       color:rgb(90, 90, 90);
       margin-right: -90px;
       
      }
      header > .interface{
       display: inline-block;
       align-items: center;
       justify-content: center;
       margin-left: 14px;
       padding:0 1px;
     
     }
     
     header a{
       color:rgb(0, 0, 0);
       text-decoration: none;
     }
     
     header nav ul{
       list-style: none;
      
     }
     
    
   header nav ul li{
    display: inline;
    font-size: 30px;
    color: rgb(44, 43, 43);
  
   }
     
   .chamativo-btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #ffffff; /* Cor da borda do botão */
    border-radius: 5px;
    background-color: #2767f0; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    
   bottom: -30px;
    right: -10px;
  
  }
  
  .chamativo-btn:hover {
    background-color: rgb(0, 0, 0); /* Cor de fundo do botão ao passar o mouse */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Efeito de luz ao redor do botão */
  }
     



  .Polímero img{
    width: 300px;
    height: 300px;
    margin: 20px;
    margin-bottom: -55px;
   }

    h2{
    display: inline-block;
    margin-top: -7px;
    margin-left: 110px;
    margin-bottom: 20%;
 
      
     }
  
  
       
        
     }


