* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
 
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}
a {
  text-decoration: none; /* Remove o sublinhado do link */
  padding:0 40px;
  font-size: 20px;
  list-style: none;
  text-align: center;
  color:rgb(0, 0, 0);

}


body{
 
  background-color: rgb(216, 216, 216);
}
h1{
    padding:0 40px;
    font-size: 40px;
    list-style: none;
    text-align: center;
    color:rgb(90, 90, 90);
   }

h2{
      padding:0 40px;
      font-size: 0px;
      list-style: none;
      text-align: center;
      color:rgb(90, 90, 90);
     }
     h4{
      display: none;
        
       }

.logo img{
    width: 320px;
    height: 190px;
    margin-bottom: -10px;
    }


  
   .interface img{
    width: 70px;
    height: 70px;
  
   
    }

     footer{
      padding:0 40px;
      font-size: 35px;
      list-style: none;
      text-align: center;
      color:rgb(90, 90, 90);
      
     }

.logo{
 
  text-align: center;
}
   
footer{
  padding:0 40px;
  font-size: 18px;
  list-style: none;
  text-align: center;
  color:rgb(90, 90, 90);
}

 
 @media screen and (max-width: 1020px){

       h1{
        padding:0px;
        font-size: 50px;
        list-style: none;
        text-align: center;
        color:rgb(90, 90, 90);
        margin-right: -270px;
      
       }

       h2{
        padding:0 40px;
        font-size: 20px;
        list-style: none;
        text-align: center;
        color:rgb(90, 90, 90);
        margin-right: -270px;
       }
  

       h4{
        display: inline-block;
        margin-top: -30px;
        margin-left: -24px;
        margin-bottom: -62px;
      
     
       }

   footer{
       padding:0 40px;
       font-size: 14px;
       list-style: none;
       text-align: center;
       color:rgb(90, 90, 90);
       margin-top: -30px;
        margin-right: -270px;
      }
 
   a {
   text-decoration: none; /* Remove o sublinhado do link */
   padding:0 10px;
   font-size: 0px;
   list-style: none;
   text-align: center;
   color:rgb(0, 0, 0);
 }
 
   
   .logo img{
    width: 300px;
    height: 180px;

    margin-right: -270px;
    }
  
  
  }
 



























