* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
 
  font-family: "arial-bold","Helvetica", "sans-serif",cursive;
  font-weight: 700;
  font-style: normal;
  
}


body{
 
  background-color:  rgb(216, 216, 216);
  
}

.logo img{
  width: 320px;
  height: 190px;
  margin-bottom: -70px;
  }

h1{
    margin-bottom: 30px;
    padding:0 40px;
    font-size: 60px;
    list-style: none;
    text-align: center;
    color:rgb(90, 90, 90);
    
   }
  
   h2{
  display: none;
    
   }

    .Encomendar li{
     
      list-style-type: none;
      align-items: center;
      display:inline-flex;
      margin-right: -280px;
      
     }

     .Encomendar img{
      width: 780px;
      height:520px;
      list-style-type: none;
      align-items: center;
      padding:0 30px;
     }
    
    
   
    footer{
      padding:0 40px;
      font-size: 18px;
      list-style: none;
      text-align: center;
      color:rgb(90, 90, 90);
     }

     @media screen and (max-width: 1020px){

      h1{
        padding:0px;
        font-size: 50px;
        list-style: none;
        text-align: center;
        color:rgb(90, 90, 90);
      margin-left: 130px;
    margin-bottom: -30px;
    margin-top: -200px;
     
       }

       h2{
        display: inline-block;
        margin-top: -7px;
        margin-left: 95px;
        margin-bottom: 20%;
     
          
         }
       .Encomendar li{
     
        list-style-type: none;
        align-items: center;
        display:inline-flex;
        margin-right: -20px;
        
        
       }

       .Encomendar img{
        width: 740px;
        height:500px;
        list-style-type: none;
        align-items: center;
        margin-left: -60px;
       }
      
       .logo img{
        width: 320px;
        height: 190px;
        margin-left: 150px;
        }
      

     footer{
          padding:0 40px;
          font-size: 20px;
          list-style: none;
          text-align: center;
          color:rgb(90, 90, 90);
          margin-right: -170px;
         }

         

         
        
                      

    } 
    
    

   
















