* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
 
  font-family: "arial-bold","Helvetica", "sans-serif",cursive;
  font-weight: 700;
  font-style: normal;
  
}


body{
 
  background-color:  rgb(216, 216, 216);
  
}

.logo img{
  width: 320px;
  height: 190px;
  margin-bottom: 160px;
  }

h1{
    margin-bottom: 30px;
    padding:0 40px;
    font-size: 50px;
    list-style: none;
    text-align: center;
    color:rgb(90, 90, 90);
    margin-left: 10px;
    margin-bottom: -30px;
    margin-top: -200px;
 
   }

   h2{
    display: none;
      
     }


    .Encomendar li{
   
      list-style-type: none;
      align-items: center;
      display:inline-flex;
      margin-right: -280px;
      
     }

     .Encomendar img{
      width: 780px;
      height :480px;
      list-style-type: none;
      align-items: center;
      padding:30 30px;
     }
    
    
   
    footer{
      padding:0 40px;
      font-size: 18px;
      list-style: none;
      text-align: center;
      color:rgb(90, 90, 90);
     }

     @media screen and (max-width: 1020px){

  h1{
       
        font-size: 50px;
        list-style: none;
        text-align: center;
        color:rgb(90, 90, 90);
        margin-right: -200px;
     
       }

       h2{
        display:block;
        margin-top: -150px;
        margin-left: 130px;
        margin-bottom: -10px;
     
          
         }
      


       .Encomendar li{
     
        list-style-type: none;
        align-items: center;
        display:inline-flex;
        margin-right: -20px;
        margin-left: 20px;
        
        
       }

       .Encomendar img{
        width: 740px;
        height:500px;
        list-style-type: none;
        align-items: center;
        margin-left: -30px;
       }
      
       .logo img{
        width: 460px;
        height: 280px;
        margin-left: 125px;
        margin-bottom: 80px;
        }
      

     footer{
          padding:0 40px;
          font-size: 20px;
          list-style: none;
          text-align: center;
          color:rgb(90, 90, 90);
          margin-right: -170px;
         }

         

         
        
                      

    } 
    
    

   


















