* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
 
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}


body{
 
  background-color:  rgb(216, 216, 216);
  
}
h1{
    padding:0 40px;
    font-size: 30px;
    list-style: none;
    text-align: center;
    color:rgb(0, 0, 0);
   }
 h2{
  display: none;
    
   }
  
   .interface img{
    width: 280px;
    height: 170px;
    }

  footer{
      padding:0 40px;
      font-size: 18px;
      list-style: none;
      text-align: center;
      color:rgb(90, 90, 90);
     }


     @media screen and (max-width: 1020px){

      h1{
        padding:0 40px;
        font-size: 20px;
        list-style: none;
        text-align: center;
        color:rgb(0, 0, 0);
      margin-bottom: -90px;
        margin-top: -120px;
     
       }

       h2{
        display: inline-block;
        margin-top: -7px;
        margin-left: 95px;
        margin-bottom: 20%;
     
          
         }
    
     footer{
      padding:0 -1px;
      font-size: 14px;
      list-style: none;
      text-align: center;
      color:rgb(90, 90, 90);
       margin-top: 60px;
     }
    }





