* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
 
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}

a:hover {
  color:rgb(90, 90, 90); /* Cor do link ao passar o mouse */
}

body{
 
  background-color: rgb(216, 216, 216);
  height: 100vh;
}

.interface img{
 width: 260px;
 height: 120px;
}

.interface{
max-width: 1280px;
margin: 0 auto;
}
/*estilo do cabeçalho*/
.header{

  padding: 40px 4%;
}

header > .interface{
  display: flex;
  align-items: center;
  justify-content: center;
}

header a{
  color:rgb(0, 0, 0);
  text-decoration: none;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
  padding:0 40px;
  font-size: 30px;
  color: rgb(255, 255, 255);
 

}

.Produtos li{
  display: inline-block;
  padding:0 80px;
  font-size: 18px;
  list-style: none;
  text-align: center;
 
}

.Produtos img{
  width: 270px;
  height: 180px;
  text-decoration: none;
 }

 footer{
  padding:0 40px;
  font-size: 18px;
  list-style: none;
  text-align: center;
  color:rgb(90, 90, 90);
 }

 section.slider{
  margin: 0 auto;
  width: 70%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
  border-radius: 40px;
  
  
}
.slider-content{
  width: 400%;
  height: auto;
  display: flex;

  
}

.slider-content input{
 display: none;
 

}
.slide-box{
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 3s;
  
}

.slide-box img{
 width: 90%;
 height: 60%;
 
}

.nav-manual, .nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
  }

  .nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    display: none;
  }
  .nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px; 
  }

  .nav-manual .manual-btn:hover{
    background-color: rgb(223, 169, 248);
  }

  #radio1:checked ~ .nav-auto .auto-btn1{
    background-color:rgb(223, 169, 248);
  }

  #radio2:checked ~ .nav-auto .auto-btn2{
    background-color: rgb(223, 169, 248);
  }

  #radio3:checked ~ .nav-auto .auto-btn3{
    background-color:rgb(223, 169, 248);
  }

  #radio4:checked ~ .nav-auto .auto-btn4{
    background-color: rgb(223, 169, 248);
  }
  #radio1:checked ~ .primeiro{
    margin-left: 0%;
  }
  #radio2:checked ~ .primeiro{
    margin-left: -25%;
  }
  #radio3:checked ~ .primeiro{
    margin-left: -50%;
  }
  #radio4:checked ~ .primeiro{
    margin-left: -75%;
  }


  @media screen and (max-width: 1020px){
   header nav ul li{
      display: inline-block;
      padding:0 20px;
      font-size: 14px;
      color: rgb(255, 255, 255);
     }

     .interface img{
      width: 100px;
      height: 60px;
    position: bottom;
      display: row-reverse;
     }
    
  
   .background{
    width:  300px ;
    height: 3195px;
  content:'';
  background-image: url('fundo\ 2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.94;
  z-index: -1;
   }
  
   .slider {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: top;
    width: 4000%;
    margin-top: 300%;
    display: flex;
    justify-content: center;
  
   }
  
   .slider-content{
    width: 0%;
    height: auto;
    display: flex;
  }

  header nav ul li{
  
   padding:0 2px;
    font-size: 12px;
    color: rgb(255, 255, 255);
   }

   
   footer{
    padding:0 40px;
    font-size: 13px;
    list-style: none;
    text-align: center;
    color:rgb(90, 90, 90);
   }
  
}
  

     












